
.put{
    background-image: url("https://free4kwallpapers.com/uploads/originals/2015/06/02/earth-map-hands.jpg");
    background-size: cover;
}
.int{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.name{
    font-family: cursive;
}
.cap{
    font-family: cursive;
}
.reg{
    font-family: cursive;
}
.pop{
    font-family: cursive;
}
.area{
    font-family: cursive;
}
.cu{
    font-family: cursive;
}
.sym{
    font-family: cursive;
}
.card-body{
    text-align: center;
}
    




    
    

